p {
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.div1 {
    color:blue;
    font-size: 36px;
}
.three {
    font-size: 24px;
}
.div2 {
    background-color: lightgreen;
    font-size: 24px;
}

